.field
  = form.label(:name)
  %br
  = form.text_field(:name)
- if 0 < form.object.invitations.size
  .field
    Collaborators
    %ul(style="list-style-type: none")
      - form.fields_for(:invitations) do |ff|
        %li
          =h ff.object.recipient_email
          = ff.check_box(:_delete)
          = ff.label(:_delete, "Delete")
