// variables

// mix-ins

// tags

body
  background:
    color: #ffffff

  font:
    family: Arial, Verdana, sans-serif, Helvetica
    size: 12pt

h1, h2, h3, h4, h5, h6
  margin:
    bottom: 0.5em
    top: 0.5em

h1
  font: 
    size: 150%

h2
  font:
    size: 140%

h3
  font:
    size: 130%

h4
  font:
    size: 120%

h5
  font:
    size: 110%

// classes

// ids

#footer
  color: gray
  font:
    family: Arial
    size: 9pt
  padding:
    bottom: 4px
  text:
    align: center
  vertical-align: bottom

#footer a
  color: blue
