%div
  %span.pri_req_id.hidden= rating.primary_requirement_id
  %span.sec_req_id.hidden= rating.secondary_requirement_id
  %span.value= rating.value ? rating.value : "&nbsp;"
  %span.rating_id.hidden= rating.id
